@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: $tertiary-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

#thanks {
  text-align: center;

  h1 {
    margin-top: 10vh;
  }

  a {
    font-size: 1.2rem;

    &:hover {
      color: $secondary-color;
    }
  }
}

a {
  color: $tertiary-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 3rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-img {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: rgba(lighten($primary-color, 2), 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    border: 3px $tertiary-color solid;
    border-radius: 10px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  a {
    letter-spacing: 0.3px;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  .icons {
    margin-top: 0;
  }

  div {
    font-size: 2rem;
    border: 3px white solid;
    border-radius: 5px;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    line-break: normal;
    @include easeOut;

    &:hover {
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: $tertiary-color;

      span {
        color: $tertiary-color;
      }

      a:hover {
        color: lighten($primary-color, 20);
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: $tertiary-color;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: $tertiary-color;
}

.btn-light {
  @extend .btn;

  background: lighten($primary-color, 50);
  color: $primary-color;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 1rem;
  }

  form {
    text-align: center;
    width: 100%;

    input {
      height: 1.9rem;
      width: 50%;
      min-width: 250px;
      margin-bottom: 1rem;
      border: none;
      border-radius: 5px;
      background: #d3d3d3;

      &::placeholder {
        color: $primary-color;
      }
    }

    textarea {
      resize: none;
      width: 50%;
      min-width: 250px;
      height: auto;
      margin-bottom: 1.5rem;
      background: #d3d3d3;
      border: none;
      border-radius: 5px;
      font-family: "Segoe UI", sans-serif;

      &::placeholder {
        color: $primary-color;
        font-family: "Segoe UI", sans-serif;
      }
    }

    button {
      padding: 1rem;
      width: 50%;
      min-width: 250px;
      background: $primary-color;
      border: 3px white solid;
      color: $secondary-color;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 500;

      &:hover {
        background: $secondary-color;
        color: $tertiary-color;
        cursor: pointer;
        @include easeOut;
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 7);
  color: $tertiary-color;
  height: 60px;
}

@import "mobile";
